<% layout('layouts/boilerplate')%>
    <h1>All Places</h1>
    <div>
        <a href="/places/new">Add Place</a>
    </div>
    <ul>
        <% for (let place of places) { %>
            <li><a href="/places/<%= place._id %>"><%= place.title %></a></li>
            <% } %>
    </ul>
